body {
    font-family: 'Open Sans';
    /*font-size: 0;*/
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    height: 600px;
}

.container:nth-child(even) {
    height: 300px;
}

.container.nav-bar {
    height: 4rem;
}


/* Nav */

.nav-bar {
    width: 100%;
    text-align: center;
}

.nav-bar__button {
    position: relative;
    top: 50%;
    display: inline-block;
    margin: 0 2vw;
    transition: color .3s;
    transform: translateY(-50%);
    text-decoration: none;
    color: #ef97c6;
}

.nav-bar__button:hover {
    color: #fff;
}


/* Intro */

.intro {
    background-color: white;
}

.intro__content {
    position: relative;
    top: 50%;
    width: 80%;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
}

.logo {
    width: 20%;
}

#description {
    font-size: 1.5rem;
    line-height: 1.5rem;
}


/* Event */

.event__img {
    width: 100%;
    text-align: center;
}

.event__img > img {
    width: 20%;
    padding-top: 1rem;
}

.event__information {
    bottom: 0;
    display: inline-block;
    width: 100%;
    margin: auto;
    margin-bottom: 9%;
    text-align: center;
    color: white;
}

.event__information__type {
    display: inline-block;
    margin: 0 3vw;
}

.event__information__type > h2 {
    font-size: 3rem;
    font-style: italic;
    color: #f5d96e;
    display: inline-block;
}


/* Speakers */

.speaker {
    display: inline-block;
}

.speaker__character {
    width: 8rem;
    padding: 0 3rem;
    transition: all .3s ease;
}

.speakers .speaker__character:hover {
    width: 10rem;
}

.speaker__name {
    font-weight: 500;
    color: white;
}

.icon {
    font-size: 3rem;
    margin-right: 1vw;
}

.title {
    margin: 0;
    padding-top: 2rem;
    text-align: center;
    color: white;
}

.team__information {
    display: inline-block;
    margin: auto;
    text-align: center;
}

.team__information,
.speakers__information {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.talk {
    font-size: 24px;
    width: 100%;
    display: inline-block;
    margin: 0;
    transition: background-color .2s;
    text-align: center;
    color: white;
}

.talk__description {
    width: 70%;
    margin: auto;
    text-align: center;
}

.team {
    margin: 0;
}

.nav-bar__button > .button__text {
    font-size: 1.5rem;
    margin: 0;
    transition: font-size .3s ease-in;
}

.schedule {
    color: white;
}

.schedule .title {
    color: white;
}

.social-media {
    text-align: center;
}

.social-media__icon {
    font-size: 4rem;
    display: inline-block;
    padding: 3rem 1rem;
    transition: opacity .1s ease-in;
    text-align: center;
    color: white;
}

.social-media__icon:hover {
    opacity: .7;
}

.team__container,
.container__event__information,
.social-media,
.container_talk_information {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.container__information {
    text-align: center;
}

.information__column {
    display: inline-block;
    padding: 2rem;
}

.title__text {
    font-size: 1.5rem;
}

.title__text.icon-clock {
    text-align: left;
    color: #fff;
}

.subtitle__text {
    color: #d3d3d3;
}


/* Background*/

.contact,
.schedule,
.talk,
.nav-bar {
    background-color: #e2007a;
}

.event {
    background: url('../img/pattern-blue.png') no-repeat;
}

.speakers {
    color: white;
    background: url('../img/blur-1.jpg') no-repeat;
}

.team {
    color: white;
    background: url('../img/screen.png') no-repeat;
}


/* Media query*/

@media(max-width: 840px) {
    html {
        font-size: 10px;
    }
    .event__img > img {
        width: 40%;
        padding-top: 1rem;
    }
    .event__information__type {
        display: block;
        margin: auto 3vw;
    }
    .logo {
        width: 60%;
    }
}
